
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Stylesheet/footerStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <div id="foot" style="background-color:#E6E6FA; height:50px; width:1000px; margin:auto;">

    </div>

</body>
</html> 