


@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleContent{
    MyView
}


@section ContentBody{
    <br />
    <div id="MapView" style="height:auto; width:600px; margin:auto;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.5094645749427!2d-73.19405078502129!3d41.16705397928501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e80e0db841f2e3%3A0x735153ab23fcfe0f!2s420+Atlantic+St%2C+Bridgeport%2C+CT+06604!5e0!3m2!1sen!2sus!4v1493791674663" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
   
}




